In [137]:
import pyspark
import pandas as pd
pd.read_csv('test.csv')

      Name  Age  Experience   Salary
0  Sudashu   32          10  32000.0
1    Muja    22           8      NaN
2     jalu   21           4      NaN

In [138]:
from pyspark.sql import SparkSession

In [139]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [140]:
df_pyspark1= spark.read.csv('test.csv')
df_pyspark1.show()

+-------+---+----------+------+
|    _c0|_c1|       _c2|   _c3|
+-------+---+----------+------+
|   Name|Age|Experience|Salary|
|Sudashu| 32|        10| 32000|
|  Muja | 22|         8|  null|
|   jalu| 21|         4|  null|
+-------+---+----------+------+

In [141]:
df_pyspark=spark.read.option('header','true').csv('test.csv',inferSchema=True)

In [142]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sudashu| 32|        10| 32000|
|  Muja | 22|         8|  null|
|   jalu| 21|         4|  null|
+-------+---+----------+------+

In [143]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [144]:
df_pyspark.head(3)

[Row(Name='Sudashu', Age=32, Experience=10, Salary=32000),
 Row(Name='Muja ', Age=22, Experience=8, Salary=None),
 Row(Name='jalu', Age=21, Experience=4, Salary=None)]

Checking the Schema of the pyspark

In [145]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [146]:
df_pyspark = spark.read.option('header','true').csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sudashu| 32|        10| 32000|
|  Muja | 22|         8|  null|
|   jalu| 21|         4|  null|
+-------+---+----------+------+

In [147]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

Dataframe is a datastructure where different operations can be performed.

In [148]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [149]:
df_pyspark.head(3)

[Row(Name='Sudashu', Age=32, Experience=10, Salary=32000),
 Row(Name='Muja ', Age=22, Experience=8, Salary=None),
 Row(Name='jalu', Age=21, Experience=4, Salary=None)]

In [150]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|Sudashu|
|  Muja |
|   jalu|
+-------+

In [151]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [152]:
df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [153]:
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|Sudashu|        10|
|  Muja |         8|
|   jalu|         4|
+-------+----------+

We need to use the select function to get the column details as compared to the Pandas where we can use this to pick up a value of the column

In [154]:
df_pyspark['Name']

Column<'Name'>

In [155]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [156]:
df_pyspark.describe().show()

+-------+-----+-----------------+-----------------+-------+
|summary| Name|              Age|       Experience| Salary|
+-------+-----+-----------------+-----------------+-------+
|  count|    3|                3|                3|      1|
|   mean| null|             25.0|7.333333333333333|32000.0|
| stddev| null|6.082762530298219|3.055050463303893|   null|
|    min|Muja |               21|                4|  32000|
|    max| jalu|               32|               10|  32000|
+-------+-----+-----------------+-----------------+-------+

In [157]:
#adding columns in DataFrame
df_pysprk2=df_pyspark.withColumn("Experience after 2 yrs",df_pyspark['Experience']+2)
df_pyspark.show()
df_pysprk2.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sudashu| 32|        10| 32000|
|  Muja | 22|         8|  null|
|   jalu| 21|         4|  null|
+-------+---+----------+------+

+-------+---+----------+------+----------------------+
|   Name|Age|Experience|Salary|Experience after 2 yrs|
+-------+---+----------+------+----------------------+
|Sudashu| 32|        10| 32000|                    12|
|  Muja | 22|         8|  null|                    10|
|   jalu| 21|         4|  null|                     6|
+-------+---+----------+------+----------------------+

In [158]:
df_pyspark3=df_pysprk2.drop("Experience after 2 yrs")
df_pyspark3.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sudashu| 32|        10| 32000|
|  Muja | 22|         8|  null|
|   jalu| 21|         4|  null|
+-------+---+----------+------+

In [159]:
#Renamining columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+
|New Name|Age|Experience|Salary|
+--------+---+----------+------+
| Sudashu| 32|        10| 32000|
|   Muja | 22|         8|  null|
|    jalu| 21|         4|  null|
+--------+---+----------+------+

In [160]:
df_pyspark.drop('Name').show()

+---+----------+------+
|Age|Experience|Salary|
+---+----------+------+
| 32|        10| 32000|
| 22|         8|  null|
| 21|         4|  null|
+---+----------+------+

In [162]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sudashu| 32|        10| 32000|
+-------+---+----------+------+

how='all'

In [164]:
df_pyspark.na.drop(how='all').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sudashu| 32|        10| 32000|
|  Muja | 22|         8|  null|
|   jalu| 21|         4|  null|
+-------+---+----------+------+

In [165]:
df_pyspark.na.drop(how='any').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sudashu| 32|        10| 32000|
+-------+---+----------+------+

At least 2 not null value needs to be present otherwise it will be dropped.

In [168]:
df_pyspark.na.drop(how='any',thresh=2).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sudashu| 32|        10| 32000|
|  Muja | 22|         8|  null|
|   jalu| 21|         4|  null|
+-------+---+----------+------+