In [10]:
import pandas as pd
df= pd.read_csv('train.csv')
df.user.nunique()
df.head()

        ID   user  movie  rating
0  1802700  13239    367     5.0
1  1290352   9469   6323     3.5
2  2660900  19250    364     4.0
3  2563669  18581   6281     2.0
4   763295   5798   1569     3.0

In [7]:
df.movie.nunique()

9829

In [8]:
df.shape

(1048575, 4)

In [9]:
df.rating.value_counts()

4.0    301788
3.0    246935
5.0    161682
3.5     92638
2.0     82857
4.5     60827
1.0     40590
2.5     38833
1.5     12454
0.5      9971
Name: rating, dtype: int64